// Custome Global Style

$instrument-font-family : 'Instrument Sans',
sans-serif;

// ------------------------ Responsive Queries

$sm-em: "only screen and (min-width: 36em)"; // ≥ 576px
$md-em: "only screen and (min-width: 48em)"; // ≥ 768px
$lg-em: "only screen and (min-width: 62em) "; // ≥ 992px
$xl-em: "only screen and (min-width: 75em)"; // ≥ 1200px

$xs-only: "(max-width: 575.98px)";
$sm-only: "(min-width: 576px) and (max-width: 767.98px)";
$md-only: "(min-width: 768px) and (max-width: 991.98px)";
$lg-only: "(min-width: 992px) and (max-width: 1199.98px)";
$xl-only: "(min-width: 1200px)";

$sm-down: "only screen and (max-width: 767.98px)";
$md-down: "only screen and (max-width: 991.98px)";
$lg-down: "only screen and (max-width: 1199.98px)";


@mixin grid-sm {
  @media #{$sm-em} {
    @content;
  }
}

@mixin grid-md {
  @media #{$md-em} {
    @content;
  }
}

@mixin grid-lg {
  @media #{$lg-em} {
    @content;
  }
}

@mixin grid-xl {
  @media #{$xl-em} {
    @content;
  }
}

@mixin grid-xs-only {
  @media #{$xs-only} {
    @content;
  }
}

@mixin grid-sm-only {
  @media #{$sm-only} {
    @content;
  }
}

@mixin grid-md-only {
  @media #{$md-only} {
    @content;
  }
}

@mixin grid-lg-only {
  @media #{$lg-only} {
    @content;
  }
}

@mixin grid-xl-only {
  @media #{$xl-only} {
    @content;
  }
}

@mixin grid-sm-down {
  @media #{$sm-down} {
    @content;
  }
}

@mixin grid-md-down {
  @media #{$md-down} {
    @content;
  }
}

@mixin grid-lg-down {
  @media #{$lg-down} {
    @content;
  }
}


.custome-container {
  max-width: 932px;
  padding: 0 15px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $instrument-font-family;
}

.btn {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  padding: 7px 14px;
  font-size: 15px;
  border-radius: 4px;
  border: none;
}

.btn-primary {
  padding: 10px 20px;
  border: 1px solid #3B9768;
  color: #3B9768;
  font-family: $instrument-font-family;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.2em;
}

.btn-secondary {
  padding: 10px 20px;
  background: #3B9768;
  color: #fff;
  font-family: $instrument-font-family;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.2em;
}

// Header Section
.header-section {
  padding-top: 20px;
  position: relative;
  z-index: 1;

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .btn-toggle-nav {
      display: none;
      width: auto;

      @include grid-md-down {
        display: block;

        &.active {
          position: fixed;
          right: 10px;
          z-index: 3;

          span {
            background-color: #fff;
            transform: rotate(45deg);

            &+span {
              transform: rotate(-45deg);
              margin-top: -5px;
            }

            &:last-of-type {
              display: none;
            }
          }
        }

        span {
          display: block;
          width: 33px;
          height: 4px;
          border-radius: 6px;
          background-color: #3B9768;

          &+span {
            margin-top: 5px;
          }
        }
      }
    }

    .navbar-brand {
      img {
        height: 51px;
      }
    }

    .collapse {
      display: flex;
      align-items: center;

      @include grid-md-down {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .9);
        z-index: 1;

        &.active {
          display: flex;
          flex-flow: column;
          align-items: center;
          justify-content: center;
        }
      }

      .navbar-nav {
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;
        @include grid-md-down{
          flex-flow: column;
        }

        .nav-items {
          padding: 6px 7px;

          &.active {
            border-bottom: 2px solid #3B9768;

            .nav-link {
              color: #3B9768;
            }

          }

          &+.nav-items {
            margin-left: 8px;
            @include grid-md-down{
              margin: 15px 0 0;
            }
          }

          .nav-link {
            color: #8F939A;
            font-family: $instrument-font-family;
            font-size: 15px;
            font-weight: 500;
            line-height: 1.2em;
            @include grid-md-down{
              font-size: 20px;
              color: #fff;
            }
          }
        }
      }

      .nav-btn {
        .btn {
          margin-left: 11px;
          @include grid-md-down{
            font-size: 20px;
            margin-top: 15px;
            display: block;
          }
        }
      }
    }

  }
}

// Hero Section

.new-hero-section {
  padding-top: 116px;
  margin-top: -71px;
  background-image: url($images-path + "/new-design/hero-bg-img.jpg");
  background-size: cover;

  img {
    width: 100%;
  }

  .hero-content {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;

    img {
      width: 130px;
      height: 130px;
      position: absolute;
      bottom: -10px;
      right: 0;
      @include grid-sm-down{
        right: -30px;
      }
    }

    .title {
      color: #2B3240;
      font-family: $instrument-font-family;
      font-size: 48px;
      font-weight: 700;
      line-height: 1.1em;
      margin: 0;

      span {
        color: #3B9768;
      }
    }

    .page-desc {
      color: #8F939A;
      font-family: $instrument-font-family;
      font-size: 18px;
      font-weight: 500;
      line-height: 1.3em;
      margin: 20px 0;
    }

    .btn-secondary {
      padding: 16px 27px;
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 41px;

      i {
        vertical-align: middle;
        margin-left: 8px;
      }
    }
  }
}