---

title: Careers at Party Rental Studio | Party Rental Marketing
description: Join our team of innovative and motivated professionals at Party Rental Studio. Explore exciting career opportunities and be a part of our dynamic work culture.

---

<header role="banner">
    <div class="row headline">
        <h1>Careers</h1>
        <p>We value hard work and fun equally. Our founders created a culture that emphasizes both productivity and enjoyment, and it remains a core part of our identity. Join our team and help enhance our dynamic workplace!</p>
    </div>
</header>
<section id="sub-section">
        <div class="row">
            <div class="small-24 columns">
                <div id="careers">
                    <div class="row">
                        <div class="small-24 medium-24 columns">
                            <h2>Open Positions (7)</h2>
                            <ul>
                                <li>
                                    <h4>Senior Fullstack Engineer</h4>
                                    <p>Engineering <span>Onsite (Full-Time Hybrid)</span></p>
                                </li>
                                <li>
                                    <h4>ReactJS Front-End Developer</h4>
                                    <p>Engineering <span>Remote (Part-Time/Contractor)</span></p>
                                </li>
                                <li>
                                    <h4>DevOps Engineer</h4>
                                    <p>Engineering <span>Remote</span></p>
                                </li>
                                <li>
                                    <h4>Senior UX Architect</h4>
                                    <p>Product <span>Remote</span></p>
                                </li>
                                <li>
                                    <h4>Business Development Manager</h4>
                                    <p>Sales & Marketing <span>Onsite (Full-Time Hybrid)</span></p>
                                </li>
                                <li>
                                    <h4>Product Marketing Lead</h4>
                                    <p>Sales & Marketing <span>Onsite (Full-Time Hybrid)</span></p>
                                </li>
                                <li>
                                    <h4>Account Manager</h4>
                                    <p>Sales & Marketing <span>Remote</span></p>
                                </li>
                            </ul>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
