---

title: Confirmation

---

<section class="section">
    <div class="row">
        <div class="small-14 small-offset-5 columns text-center">
      <h1>You're All Set!</h1>
      <p style='margin-top:24px;'>
        You'll soon receive an email with the URL<br>and credentials to access your trial environment.
    </p>
      <p>
        If you have any questions,<br>
        please contact us at <a href='mailto:support@partyrentalstudio.com'>support@partyrentalstudio.com</a>
      </p>
        </div>
    </div>
</section>

		<section id="trial-testimonials">
	    <div class="row">
	    	<div class="small-24 columns">
	    		<h2>What Customers Are Saying About Our Software</h2>
	    	</div>
			<div class="small-24 large-7 large-offset-1 columns quotebox">
				<h3>It is the single best investment I've made for my business</h3>
				<div class="clientbox">
					<p><span>Violet Marin</span><br>iPartyPalace.com<br>Customer since August 2012</p>
				</div>
			</div>
			<div class="small-24 large-7 large-offset-1 columns quotebox">
				<h3>Party Rental Studio has everything I need to manage my business</h3>
				<div class="clientbox">
					<p><span>Natasha Beekharry</span><br>All-in-One Party Rentals<br>Customer since August 2012</p>
				</div>
			</div>
			<div class="small-24 large-7 large-offset-1 columns quotebox">
				<h3>It makes the customer online booking experience so much easier</h3>
			    <div class="clientbox">
					<p><span>Daniel Pedroza</span><br>Jump 'N' Bounce<br>Customer since August 2012</p>
				</div>
			</div>
	    </div>
	    </section>
