---

title: Success Stories

---

<header role="banner">
    <div class="row headline">
        <h1>CUSTOMER SUCCESS STORIES</h1>
        <p>Hear directly from small businesses that have found success using Party Rental Studio.</p>
    </div>
</header>
<section id="sub-section">
        <div class="row">
            <div class="small-24 columns">
                <div id="testimonies">
                    <article>
                        <section>
                            <div class="row">
                                <div class="small-24 medium-8 side-column columns">
                                    <blockquote>Best investment I have made for my business...</blockquote>
                                    <aside><h3>Violet Marin</h3>
                                        <p>iPartyPalace.com<br>Montclair, CA</p>
                                        <p class="customer">Customer since March 2015</p>
                                    </aside>
                                </div>
                                <div class="small-24 medium-16 testimony columns"><p>Before I found Party Rental Studio,
                                    I was losing customers when I couldn't pick up the phone or when we were closed for
                                    the day and my website was static with information only. Now, <strong>my customers
                                        have access to order online 24/7</strong> and I get less information request
                                    calls and more order calls. Party Rental Studio has been the best investment I have
                                    made for my business.</p>
                                    <p>Party Rental Solution offered me exactly <strong>what I needed to grow my
                                        business</strong> without the software, effort and not much money. I would
                                        highly recommend Party Rental Studio!</p>
                                </div>
                            </div>
                        </section>
                        <section>
                            <div class="row">
                                <div class="small-24 medium-8 side-column columns">
                                    <blockquote>As a baby boomer, I am not as tech savvy but this system was so easy to
                                        navigate
                                    </blockquote>
                                    <aside><h3>Jerri Palmer</h3>
                                        <p>Celebrated Moments, LLC<br>Cumming, GA</p>
                                        <p class="customer">Customer since June 2018</p></aside>
                                </div>
                                <div class="small-24 medium-16 testimony columns"><p>The most significant improvement
                                    that was made for our business is inventory management and the "quick quote" option
                                    that Party Rental Studio provides. We <strong>had a problem with double
                                        booking</strong> our items and this system was perfectly made for our rental
                                    business.</p>
                                    <p>I was surprised at how easy it is to customize and add products to the cart. I
                                        surprised myself that <strong>I was able to add inventory without the help of an
                                            expert</strong>. As a baby boomer, I am not as tech savvy but this system
                                        was so easy to navigate and such a great improvement for my website.
                                    </p>
                                    <p>If you have doubts about using this system, <strong>just try the free
                                        trial</strong> and you will sign up for it as I did. Love this system and the on
                                        hand tech support when needed!!!
                                    </p>
                                </div>
                            </div>
                        </section>
                        <section>
                            <div class="row">
                                <div class="small-24 medium-8 side-column columns">
                                    <blockquote>I am VERY APPRECIATIVE that they listened to my concerns...</blockquote>
                                    <aside><h3>Marion Bradley</h3>
                                        <p>Balloons-N-Parties LLC<br>Warner Robins, GA</p>
                                        <p class="customer">Customer since July 2018</p>
                                    </aside>
                                </div>
                                <div class="small-24 medium-16 testimony columns"><p>Before I started working with Party
                                    Rental Studio, I had been working for about 6 months with another company to try to
                                    get online with an ordering system. I found it to be a difficult task to do, so I
                                    started looking elsewhere.</p>
                                    <p>I then found Party Rental Studio. I did some checking on the internet about this
                                        company before I contacted them. I placed a call to Walter to address my
                                        concerns, and let him know that I was nervous about trying another company. He
                                        told me that <strong>he would make sure that I have everything ready to
                                            go</strong>, and I was satisfied with everything before I would be charged.
                                    </p>
                                    <p>One of the most surprising things with this company is that no matter what day or
                                        time that I contact Party Rental Studio via email, <strong>they have responded
                                            always</strong> within minutes. This has been so refreshing!
                                    </p>
                                    <p>The last thing that I would like to say is that I had an issue with a particular
                                        part of this system, concerning when a potential customer could view our prices
                                        - and by the next day, they had added something to the system that allowed me to
                                        obscure prices until ready to show my customer. I am VERY APPRECIATIVE that they
                                        listened to my concerns and addressed them right away! I am looking forward to
                                        getting this in full motion within the next few days - and I would say "kudos"
                                        to Walter and his team at Party Rental Studio.</p>
                                    <p><strong>Please note that I have not been given a discount for my endorsement of
                                        this company</strong>
                                    </p>
                                </div>
                            </div>
                        </section>
                        <section>
                            <div class="row">
                                <div class="small-24 medium-8 side-column columns">
                                    <blockquote>Just so you know, we absolutely LOVE this software!</blockquote>
                                    <aside><h3>Jacqueline Doss</h3>
                                        <p>SnapThat! ATX<br>Dripping Springs, TX</p>
                                        <p class="customer">Customer since April 2020</p>
                                    </aside>
                                </div>
                                <div class="small-24 medium-16 testimony columns">
                                    <p>Just so you know, we absolutely LOVE this software! <strong>This software is amazing!</strong> This is by far the best most <strong>user friendly</strong> option! It's almost everything we have been looking for. The only thing that would make it exactly what we're looking for is the ability to have add on options that include a space for a thumbnail picture and small description. For example: we have a photo booth with backdrop and prop selection options. To be able to list our photo booth with product options that also have a pic and enough space for a slight description <strong>would make this perfect for us</strong>. Otherwise, we are definitely loving this and will figure out how to make it work for us. </p>
                                </div>
                            </div>
                        </section>
                        <section>
                            <div class="row">
                                <div class="small-24 medium-8 side-column columns">
                                    <blockquote>This rental software has made my life easier...</blockquote>
                                    <aside><h3>Justin &amp; Misty Flynn</h3>
                                        <p>Kids Bouncy Things LLC.<br>Locust Grove, GA</p>
                                        <p class="customer">Customer since June 2011</p>
                                    </aside>
                                </div>
                                <div class="small-24 medium-16 testimony columns"><p>I'm no stranger to the online
                                    booking systems as I have tried them all and that's no joke. But there's only one
                                    that has truly empowered our customers to do it themselves and that is Party Rental
                                    Studio.</p>
                                    <p>We own several businesses and two of them use this software. We're not your mom
                                        and pop retail store. We generate half a million a year between the two
                                        businesses and this rental software has made my life easier. We are all about
                                        taking care of our customers first and believe me, <strong>Party Rental Studio
                                            takes care of us so that allows us to work on what's best</strong> and
                                        that's making sure our company grows. The software is easy to setup and be
                                        configured how you like it.
                                    </p>
                                    <p>We have been a customer for a long time and will continue to grow with them as
                                        long as they are offering this wonderful product.
                                    </p>
                                </div>
                            </div>
                        </section>
                        <section>
                            <div class="row">
                                <div class="small-24 medium-8 side-column columns">
                                    <blockquote>Enabled us to generate more clientele and increase revenue...</blockquote>
                                    <aside><h3>Courtney Quinn</h3>
                                        <p>Brentwood Party Rentals<br>Brentwood, CA</p>
                                        <p class="customer">Customer since September 2017</p>
                                    </aside>
                                </div>
                                <div class="small-24 medium-16 testimony columns">
                                    <p>Before I began working with Party Rental Studio I was working with a foreign software company in hopes to transform our old fashioned party rental company into a more <strong>efficient and high-tech</strong> experience. The previous company was not a match for us due insufficient capabilities and lack of customer service.</p>
                                    <p>Our business has limited hours during certain months of the year, every order is very personalized and allows us to cater to our clients needs. Party Rental Studio allowed us to customize our software from the very beginning.</p>
                                    <p>Walter was incredibly helpful in getting our new website up and running immediately and giving us the "shopping cart" feature we have always wanted for our business. He provided great advice on moving forward with Stripe for online payments that allows us to give our customers control over when they place their order.</p>
                                    <p>Our call volume at our office limits us from answering every client right away. Party Rental Studio allows them to view all of our products online, put together an order while being able to pay for it and schedule delivery times and has <strong>given us a chance to never miss a client</strong>.</p>
                                    <p>I would <strong>absolutely recommend this software</strong> to anyone in the rental business. Their great customer service, efficient program and ability to make adjustments that specify to your personal company is top notch. They have improved the functionality of our company and enabled us to generate more clientele and increase revenue.</p>
                                </div>
                            </div>
                        </section>
                        <section>
                            <div class="row">
                                <div class="small-24 medium-8 side-column columns">
                                    <blockquote>I've been so impressed with the customer service...</blockquote>
                                    <aside><h3>Emily Sullivan</h3>
                                        <p>Get Polished Events<br>New Orleans, LA</p>
                                        <p class="customer">Customer since September 2016</p>
                                    </aside>
                                </div>
                                <div class="small-24 medium-16 testimony columns">
                                    <p>At first, I wasn't sure if I'd be able to customize as much as I wanted. <strong>I loved the fact that the website and software were connected</strong> and would work together. I also wanted to be sure it was mobile friendly. Now that we're fully utilizing the full benefits of the software, I'm finding how easy and all inclusive it is. With the calendar, invoice system and the build in website it's very user friendly once it's set up.</p>
                                    <p>I've been so impressed with the customer service. We aren't fluent in software and website building and had many questions along the way. Each time, we spoke directly with someone and had the issue fixed within a short period of time. I also made specific requests for the website and those were accommodated.</p>
                                </div>
                            </div>
                        </section>
                        <section>
                            <div class="row">
                                <div class="small-24 medium-8 side-column columns">
                                    <blockquote>I love the real time inventory availability...</blockquote>
                                    <aside><h3>Daniel Pedroza</h3>
                                        <p>Jump "N" Bounce<br>Placentia, CA</p>
                                        <p class="customer">Customer since March 2015</p>
                                    </aside>
                                </div>
                                <div class="small-24 medium-16 testimony columns">
                                    <p>My biggest concern was finding a company that was familiar and knowledgeable about the bounce house/party rental industry. There are other companies out there that claim to understand this specific industry but it's a false claim so that made me skeptical at first to try this product but I'm glad I gave Party Rental Studio a shot. <strong>They truly understand the party rental industry and what we require.</strong></p>
                                    <p>I love the real time inventory availability. It's so useful and allows me to save time that I can use on other aspects of running my business. It makes the customer online booking experience so much easier. Party Rental Studio is very easy to use. I'm not the most tech savvy person but I can easily manage the software. I was pleasantly surprised how easy it is to use.</p>
                                    <p>I highly recommend Party Rental Studio. <strong>It offers everything you need at an affordable price.</strong> It will help take your company to the "next level".</p>
                                    <p>Walter is great to work with. He is always available to assist you. Customer service is really important to me when working with another company and Walter has always given me A+ service. I look forward to continue using Party Rental Studio.</p>
                                </div>
                            </div>
                        </section>
                        <section>
                            <div class="row">
                                <div class="small-24 medium-8 side-column columns">
                                    <blockquote>Everything I need to manage my business...</blockquote>
                                    <aside><h3>Natasha Beekharry</h3>
                                        <p>All-in-One Party Rentals<br>New York City, NY</p>
                                        <p class="customer">Customer since March 2015</p>
                                    </aside>
                                </div>
                                <div class="small-24 medium-16 testimony columns">
                                    <p>
                                        Party Rental Studio has been a big
                                        help to my business! <strong>The software is innovative and user friendly.</strong>
                                        The product offers everything you would need to manage your business &amp; the price
                                        is unbeatable.
                                    </p>
                                    <p>The staff at Party Rental Studio was very helpful throughout the setup process
                                        and they continue to provide superior customer service with any website changes
                                        and questions.
                                    </p>
                                    <p>I'm glad that we decided to use Party Rental Studio and I highly recommend their product and services!!!</p></div>
                            </div>
                        </section>
                        <section>
                            <div class="row">
                                <div class="small-24 medium-8 side-column columns">
                                    <blockquote>We did a lot of research to ensure...</blockquote>
                                    <aside><h3>Bryan Sanders</h3>
                                        <p>Moonlight and Rust<br>Bentonville, AR</p>
                                        <p class="customer">Customer since December 2017</p>
                                    </aside>
                                </div>
                                <div class="small-24 medium-16 testimony columns">
                                    <p>
                                        The rental business is a new
                                        venture for us and we did <strong>a lot of research</strong> to ensure we were
                                        presenting our company and products effectively. We wanted to ensure we had a
                                        website that was easy for the end-user as well as for us trying to manage the site
                                        from a back-end perspective.
                                    </p>
                                    <p>We have <strong>been so pleased</strong> with the timely responses from the team
                                        as well as the willingness to hear our ideas and implement them. We so
                                        appreciate the time and feedback that the team has invested in our business.
                                    </p>
                                    <p>Thank you for all you have done for us thus far.</p>
                                </div>
                            </div>
                        </section>
                        <section>
                            <div class="row">
                                <div class="small-24 medium-8 side-column columns">
                                    <blockquote>They won't regret going with your software...</blockquote>
                                    <aside><h3>Dasha Vlasov</h3>
                                        <p>Vlasov Events<br>Citrus Heights, CA</p>
                                        <p class="customer">Customer since April 2017</p></aside>
                                </div>
                                <div class="small-24 medium-16 testimony columns"><p>I've been using your system for a
                                    few months now and I love it! By far, the absolute very best app that I've found. I
                                    have <strong>went through a solid 15-20 different applications, testing every single
                                        one for days and weeks</strong> before finally finding your system, and as I
                                    said, I love it and is all I have been using and will ever use. Thank you so much!
                                </p>
                                    <p>At first, I didn't really know exactly what it was or does, which was okay
                                        because when I asked for a sample or a trial, it was quickly given, and when
                                        there was a question, there was a quick response and etc. So easy to work with
                                        100%. The business that I'm running is an event planning, designing and rental
                                        brand and this system has everything setup exactly for that. From flat rate
                                        fees, to overriding prices and tier prices, and even just manually adding
                                        something to an order if something.</p>
                                    <p>I would recommend your software, most definitely. If I knew that that one was
                                        trying to running a business with same model as my own, I KNOW that they won't
                                        regret going with your software over any other app or site. I'm confident.</p>
                                </div>
                            </div>
                        </section>
                        <section>
                            <div class="row">
                                <div class="small-24 medium-8 side-column columns">
                                    <blockquote>Customer service is second to none...</blockquote>
                                    <aside><h3>Michael Morgan</h3>
                                        <p>Bounce Bounce Party Rentals<br>Atlanta, GA</p>
                                        <p class="customer">Customer since December 2014</p></aside>
                                </div>
                                <div class="small-24 medium-16 testimony columns"><p>This is an AWESOME product! This
                                    product allows me to take orders while I sleep or away from my computer for any
                                    reason.</p>
                                    <p>The customer service is second to none! <strong>EVERY concern I've had has been
                                        addressed in a timely manner.</strong> The majority of the concerns I've had
                                        have been due to my lack of knowledge of the system.</p>
                                    <p>Other than that the system is a MUST purchase!</p></div>
                            </div>
                        </section>
                        <section>
                            <div class="row">
                                <div class="small-24 medium-8 side-column columns">
                                    <blockquote>Open to new upgrades to satisfy my needs...</blockquote>
                                    <aside><h3>Mark Adkins</h3>
                                        <p>A2 Tent Rentals<br>Beckley, WV</p>
                                        <p class="customer">Customer since February 2017</p></aside>
                                </div>
                                <div class="small-24 medium-16 testimony columns"><p>Being a new rental business one of
                                    my largest hurdles was <strong>keeping track of inventory and not double
                                        booking</strong>. Party Rental Studio was able to take care of this need and
                                    many more needs. </p>
                                    <p>The website and back office package is second to none for my business. The
                                        customer support is quick to respond and always open to new upgrades to satisfy
                                        my needs. I recommend Party Rental Studio for any rental business.</p></div>
                            </div>
                        </section>
                        <section>
                            <div class="row">
                                <div class="small-24 medium-8 side-column columns">
                                    <blockquote>I would recommend Party Rental Studio to anyone...</blockquote>
                                    <aside><h3>Bobby O'Connor</h3>
                                        <p>Party Tyme Rentals<br>Poway, CA</p>
                                        <p class="customer">Customer since May 2017</p></aside>
                                </div>
                                <div class="small-24 medium-16 testimony columns"><p>To be honest I was looking at both
                                    hosting my own store and another online store for party rentals besides Party Rental
                                    Studio and went with them for 2 simple reasons, the customer service and the
                                    willingness to tailor their product as much as possible to what it is I needed
                                    done.</p>
                                    <p>My family made a bad decision in a partnership that has left me rebuilding the
                                        rubble that is our family business and Party Rental Studio has made the online
                                        store aspect of our rebuild painless so I could concentrate on all the other
                                        issues of running a business. I would recommend Party Rental Studio to anyone
                                        looking to build an online rental store.</p></div>
                            </div>
                        </section>
                    </article>
                </div>
            </div>
        </div>
    </section>


{% include "section-form.njk" %}