---

title: Login Forgot
layout: log.njk

---


 <span>
            
  <form id="forgetPassword" class="box py-6 mt-4">
      <h1 class="title is-4">Forgot Your Password?</h1> 
      <p>Enter the email associated with your account and we'll send an email with instructions to reset your password.</p> 
      <div class="field mt-5">
          <div class="control">
              <span>
                  <input type="text" placeholder="e.g. alex@example.com" class="input is-medium">
                  <span class="has-text-danger" style="display: none;"></span>
              </span>
          </div>
      </div> 
      <button type="submit" class="button is-primary is-fullwidth is-medium mt-5">Send</button>
  </form>
</span>