---

title: Pricing

---

<header role="banner">
    <div class="row headline">
        <h1>Simple, Affordable Pricing</h1>
        <p>Choose the plan that works for you. Risk free, no contracts, cancel anytime.</p>
    </div>
</header>

<section id="sub-section">
    <div class="row">
        <div class="small-24 large-8 columns">
            <div class="package-name">
                <h4>Starter</h4>
                <div class="price">
                    <div class="price_figure">
                        <span class="price_number">
                            <span>$</span>29.95</span> <span class="price_tenure">per month</span>
                        <span class="price_setup">No Setup Fees</span>
                    </div>
                </div>
            </div>
            <ul class="features">
                <li>50 Customers</li>
                <li>5 Reservations Monthly</li>
                <li>Manage up to 25 Products or Bundles</li>
                <li>Manage Inventory &amp; Process Orders</li>
                <li>Analytics &amp; Reporting</li>
                <li class="missingFeature">Online Catalog</li>
                <li class="missingFeature">SEO Optimized Website &amp; Hosting</li>
                <li class="missingFeature">Fully Integrated E-Commerce Platform</li>
                <li integrated="" class="missingFeature">Content Management System to Add/Edit Webpages and Blog Engine</li>
                <li class="missingFeature ilangMobileSm">n/a</li>
                <li class="missingFeature ilangMobileSm">n/a</li>
                <li class="missingFeature ilangMobileSm">n/a</li>
            </ul>
            <div class="footer">
                <a href="https://app.kreetiv.com/cc/signup.php?cid=VLrPrhXH" class="prs-button-cta">Sign Up Now</a>
            </div>
        </div>
        <div class="small-24 large-8 columns">
            <div class="package-name">
                <h4>Professional</h4>
                <div class="price">
                    <div class="price_figure">
                        <span class="price_number"><span>$</span>49.95</span> <span class="price_tenure">per month</span> <span class="price_setup">$95 Setup Fee</span>
                    </div>
                </div>
            </div>
            <ul class="features">
                <li>Unlimited Customers</li>
                <li>Unlimited Reservations</li>
                <li>Unlimited Products or Bundles</li>
                <li>Manage Inventory &amp; Process Orders</li>
                <li>Analytics &amp; Reporting</li>
                <li>Online Catalog</li>
                <li>SEO Optimized Website &amp; Hosting</li>
                <li>Fully Integrated E-Commerce Platform</li>
                <li>Content Management System to Add/Edit Webpages and Blog Engine</li>
                <li class="missingFeature ilangMobileSm">n/a</li>
                <li class="missingFeature ilangMobileSm">n/a</li>
                <li class="missingFeature ilangMobileSm">n/a</li>
            </ul>
            <div class="footer">
                <a href="#" class="prs-button-cta">Sign Up Now</a>
            </div>
        </div>
        <div class="small-24 large-8 columns">
            <div class="package-name">
                <h4>Franchise</h4>
                <div class="price">
                    <div class="price_figure">
                        <span class="price_number"><span>$</span>299.95</span>
                        <span class="price_tenure">per month</span>
                        <span class="price_setup">Custom Setup Fee</span>
                    </div>
                </div>
            </div>
            <ul class="features">
                <li>Unlimited Customers</li>
                <li>Unlimited Reservations</li>
                <li>Unlimited Products or Bundles</li>
                <li>Manage Inventory &amp; Process Orders</li>
                <li>Analytics &amp; Reporting</li>
                <li>Online Catalog</li>
                <li>SEO Optimized Website &amp; Hosting</li>
                <li>Fully Integrated E-Commerce Platform</li>
                <li>Content Management System to Add/Edit Webpages and Blog Engine</li>
                <li>Multi-user (up to 15 reps/affiliates)</li>
                <li>Shared Inventory</li>
                <li>Configurable Commission Structure</li>
            </ul>
            <div class="footer">
                <a href="/contact/" class="prs-button-cta">Sign Up Now</a>
            </div>
        </div>
    </div>
</section>

{% include "section-form.njk" %}