.hero-wrapper {
  position: relative;
  height: auto;
  background-image: url("../img/hero-home.png");
  background-size: 90%;
  height: auto;
  background-repeat: no-repeat;
  background-position: 20% 90%;
  padding-bottom: 40%;
 
  @include grid-lg {
    background-position: 100% 15%;
    background-size: auto 420px;
    height: 430px;
  }

  @include grid-xl {
    background-position: 115% 15%;
    background-size: auto 510px;
    height: 510px;
  }  

}

.hero {

  text-align: left;
  font-size: 36px;
  width: auto;
  padding: 48px 0px 120px 0;
  text-align: center;

  @include grid-lg {
    padding: 146px 44% 0 0;
    text-align: left;
  }

  @include grid-xl {
    padding: 180px 46% 0 0;
    text-align: left;
  }  

  h1 {
    font-size: 2.2rem;
    margin-bottom: 1.0rem;

    @include grid-lg {
      font-size: 2.0rem;
    }

    @include grid-xl {
      font-size: 2.2rem;
    }  

  }

  p {
    margin-bottom: 28px;
    font-size: 1.4rem;
    

    @include grid-lg {
      
    }

  } 

  a {
    

    @include grid-lg {
      
    }

  } 

}

// VIDEO EXPLAINER

#home-video-explainer {
  margin: 60px 0 40px;
  padding-bottom: 0px;

  h2 {
    font-size: 1.6rem;
  }

  @include grid-lg {
    margin: 140px 0 20px;

    h2 {
      font-size: 2.0rem;
    }

  }

  .responsive-embed-youtube {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
  }

  .responsive-embed-youtube iframe {
  position: absolute;
  width: 100%!important;
  height: 100%!important;
  }

}


// PRODUCT HIGHTLIGHTS

#home-product-higlights {
  margin: 60px 0 40px;
  padding-bottom: 160px;

  @include grid-lg {
    margin: 60px 0 100px;
    padding-bottom: 0px;
  }

	h2 {
  	text-align: center;
  	font-size: 1.6rem;

    @include grid-lg {
      text-align: left;
    }

	}

	.prs-button {border: 1px solid $primary-color}

	.higlight-box {
		background-color: #fff;
		padding: 36px 18px 12px;
		text-align: center;
		-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;

    @include grid-lg {
      background-color: $background-light;
      min-height: 290px;
      margin-bottom: 1.6em;
    }

    @include grid-xl {
      min-height: 260px;
    }

		img {height: 60px;}
		h3 {
			font-size: 1.0rem;
			margin-top: 1em;
			text-transform: uppercase;
			font-weight: 400;
      font-family: $font-family-body;
		}
		p {
			font-size: 1.0rem;
		}
	}

}

// TESTIMONIALS

#home-testimonials {
  margin: 100px 0 0;
  background-color: #3C434A;
  //background: linear-gradient(90deg, #55b070 0%, #3b9768 100%);
  position: relative;
  color: #fff;
  padding-bottom: 140px;

  h2 {color: #fff;}

  .quotebox {
    padding-top: 24px;
    background: none;
    text-align: center;

    @include grid-lg {
      padding-top: 70px;
      background: url("../img/quote.svg") no-repeat 0px 0%;
      background-size: 70px;
      text-align: left;
    }

    &:after {
		content: '';
		width: 100%;
    	border: 0;
    	height: 0;
    	display: block;
    	border-top: 1px dotted rgba(0, 0, 0, 0.1);
    	border-bottom: 1px dotted rgba(255, 255, 255, 0.3);
    	margin: 3rem 0;

		@include grid-lg {
			content: initial;
		}

    }

    h3 {
      font-size: 2.0rem;
      color: #fff;
      font-family: $font-family-cursive;
    }

    a {
      color: #fff !important;
      text-decoration: underline;
    }

    p {color: #fff; font-size: 1.0em;}

    .clientbox {
      margin-top: 2em;

      span {
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
      }

    }

  }

  .prs-button-cta {
    font-size: 24px;
    text-transform: capitalize;
    padding: 12px 52px;
    margin-top: 2em;
    border: 1px solid #fff;
    background-color: transparent;
  }

  &:before {
	content: "";
	position: absolute;
	top: -200px;
	left: 0;
	z-index: -1;
	height: 180%;
	-webkit-transform: skewY(-10deg);
	transform: skewY(-10deg);
	-webkit-backface-visibility: hidden;
	backface-visibility: initial;
	overflow: visible;
	width: 100%;
	background-color: #3C434A;
	//background: linear-gradient(90deg, #55b070 0%, #3b9768 100%);
  }

}

// ARTICLES

#home-articles {
  	padding: 100px 0 100px;
  	background-color: $background-light;
  	text-align: center;

  	h2 {margin-bottom: .5em;}
  	//p {margin-bottom: 4rem;}

	.prs-button {
    font-size: 20px;
    text-transform: capitalize;
    padding: 8px 60px;
    margin-top: 2em;
  }

  article {

    box-shadow: none;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin-bottom: 24px;
    border-radius: 0px;
    background: -moz-linear-gradient(top, #F4F4F4 0%, #ffffff 100%);
    background: -webkit-linear-gradient(top, #F4F4F4 0%,#ffffff 100%);
    background: linear-gradient(to bottom, #F4F4F4 0%,#ffffff 100%);
    min-height: 520px;

    @include grid-md {
      border-radius: 6px;
      //border-bottom: none;
    }

    &:hover {
      @include grid-md {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      }

    }

    .articlephoto {
      //margin-bottom: 24px;

      img {
        width: 100%;
      }

      @include grid-md {
        //padding: 36px 24px 36px 36px;
      }

    }

    .articlebox {
        padding: 18px;
        //margin-bottom: 8px;
        text-align: left;

        @include grid-md {
          //margin-bottom: 36px;
        }

        span {
          //font-family: $font-family-header;
          text-transform: uppercase;
          background-color: $primary-color;
          color: #fff;
          padding: 4px 8px;
          border-radius: 4px;
          font-size: 0.7rem;
          font-weight: 600;
        }
      
        h1 {
          font-weight: 400;
          text-transform: capitalize;
          font-size: 1.4rem;
          //font-family: $font-family-body;
          margin: 0.6em 0 0.4em;

          @include grid-lg {
            font-size: 1.4rem;
          }

        }

        p {
          //margin-bottom: 0.6rem;
          font-size: 1.1em;
          line-height: 1.1em;
          &.read {
            color: $primary-color;
          }
        }

      }
  }

}
