@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Poppins:ital,wght@0,200;0,300;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

/////////////////////////////////////////////////////////////////////////////
// FONTS
/////////////////////////////////////////////////////////////////////////////

$font-family-header: 'Poppins', sans-serif;
$font-family-body: 'Open Sans', sans-serif;
$font-family-cursive: 'Playfair Display', serif;

// We use these to define default font weights
$font-weight-normal: normal !default;
$font-weight-bold: bold !default;

$font-copy-color: #3d444b;

/////////////////////////////////////////////////////////////////////////////
// BODY
/////////////////////////////////////////////////////////////////////////////

div, td, p, li, a, span {color: $font-copy-color;}

p {line-height: 1.4;}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-family-header;
	font-weight: 600;
	letter-spacing: -0.1rem;
	color: #000;
}