

/////////////////////////////////////////////////////////////////////////////
// BODY
/////////////////////////////////////////////////////////////////////////////

div, td, p, li, a, span {color: $font-copy-color;}

p {line-height: 1.4;}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-family-instrument;
	font-weight: 700;
	color: #000;
}

h1{
	font-size: 48px;
}
h2{
	font-size: 40px;
}
h3{
	font-size: 27px;
}
h5{
	font-size: 18px;
}