

/////////////////////////////////////////////////////////////////////////////
// BODY
/////////////////////////////////////////////////////////////////////////////

div, td, p, li, a, span {color: $font-copy-color;}

p {line-height: 1.4;}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-family-header;
	font-weight: 600;
	color: #000;
}

h2{
	font-size: 40px;
}